Repository Arpit529Srivastava/Feeback_System, changes with the labels that .github/labeler.yaml gives for each.
All labels: GitHub Actions, Documentation, CI/CD, Frontend, API, Styling, Dependencies, Config

.github/labeler.yaml:

# Please see https://github.com/actions/labeler for reference
GitHub Actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

Documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'

CI/CD:
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/*'
    - any-glob-to-any-file: '.infisical.json'
    - any-glob-to-any-file: 'next.config.mjs'

Frontend:
  - changed-files:
    - any-glob-to-any-file: 'components/**/*'
    - any-glob-to-any-file: 'app/**/*.tsx'
    - any-glob-to-any-file: 'app/**/*.ts'
    - any-glob-to-any-file: 'public/**/*'

API:
  - changed-files:
    - any-glob-to-any-file: 'backend/**/*'

Styling:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: 'tailwind.config.*'
    - any-glob-to-any-file: 'postcss.config.*'

Dependencies:
  - changed-files:
    - any-glob-to-any-file: 'package.json'
    - any-glob-to-any-file: 'package-lock.json'
    - any-glob-to-any-file: 'go.sum'

Config:
  - changed-files:
    - any-glob-to-any-file: '*.config.*'
    - any-glob-to-any-file: 'tsconfig.json'
    - any-glob-to-any-file: '.gitignore'

feat: add Kubernetes configuration for feedback application
  CODEOWNERS
  k8s/base/backend/configmap.yaml
  k8s/base/backend/deployment.yaml
  k8s/base/backend/service.yaml
  k8s/base/frontend/configmap.yaml
  k8s/base/frontend/deployment.yaml
  k8s/base/frontend/service.yaml
  k8s/base/ingress/ingress.yaml
  k8s/base/mongodb/service.yaml
  k8s/base/mongodb/statefulset.yaml
  k8s/overlays/development/kustomization.yaml
  k8s/overlays/production/kustomization.yaml
  k8s/overlays/staging/kustomization.yaml
Labels: none

chore: remove Kubernetes configuration for feedback application
  k8s/base/backend/configmap.yaml
  k8s/base/backend/deployment.yaml
  k8s/base/backend/service.yaml
  k8s/base/frontend/configmap.yaml
  k8s/base/frontend/deployment.yaml
  k8s/base/frontend/service.yaml
  k8s/base/ingress/ingress.yaml
  k8s/base/mongodb/service.yaml
  k8s/base/mongodb/statefulset.yaml
  k8s/overlays/development/kustomization.yaml
  k8s/overlays/production/kustomization.yaml
  k8s/overlays/staging/kustomization.yaml
Labels: none

feat: added link workflow and .gitignore
  .github/workflows/lint.yaml
  .gitignore
Labels: GitHub Actions, CI/CD, Config

docs: update README to include MongoDB and enhance setup instructions
  README.md
Labels: Documentation

checking
  backend/routes/feedback_routes.go
Labels: API

docs: enhance README with updated project details and setup instructions
  README.md
Labels: Documentation

feat: implement health check endpoint and update Docker configuration
  README.md
  backend/controllers/health_controller.go
  backend/main.go
  backend/routes/health_routes.go
  docker-compose.yml
Labels: Documentation, API
